html {
}

body {
  background: linear-gradient(135deg, #8e2de2, #4a00e0) no-repeat;
  min-height: 100vh;
}

.card {
  margin: 100px auto;
  /* border: 1px solid; */
  text-align: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #54595e;
}

.temp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  color: #ffffff;
}

.head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 200px;
}

.clouds {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.8);
}

.divInput {
  margin: 100px auto;
  text-align: center;
}

.input {
  width: 326px;
  height: 40px;
  background: rgba(255, 255, 255, 0.75);
  border: 0px;
  display: block;
  margin: 20px auto;
  text-align: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

.buttonFind {
  width: 140px;
  height: 48px;
  left: 315px;
  top: 536px;

  background: #ffffff;
  border-radius: 8px;
  border: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #4c01e0;
}

.change {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;

  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.5);

  cursor: pointer;
}

.displayNone {
  display: none;
}
